{% extends 'layout.html' %} 

{% block title %} EnglishHub {% endblock %}
    
    
{% block body %}

<h1>Lesson 4 : Singular and Plural Nouns 2</h1>

<p>
    In this lesson you will learn the rest of the rules for spelling plural nouns.    
</p>


<table>
    <thead>
        <tr>
            <th colspan="2">Rule</th>
            <th>Examples</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Nouns that end in vowel + y</td>
            <td>Add s to form the plural</td>
            <td>donkey -> donkeys <br> highway -> highways</td>
        </tr>

        <tr>
            <td>Nouns ending in vowel + o</td>
            <td>Add es to form the plural.</td>
            <td>oreo -> oreos <br> scenario -> scenarios </td>
        <tr>
            <td>Nouns that end in consonant + y</td>
            <td>Change the y to i and add es to form the plural.</td>
            <td>family -> families <br> trophy -> trophies </td>
        </tr>
        <tr>
            <td>Nouns that end in consonant + o</td>
            <td>Easy rule:
                Usually add es except for musical terms.
                
                Complicated rule:
                Some nouns that end in consonant + o add es. Many can be spelled either way. Look in the dictionary if you want to be sure.
                
                These nouns always add es: potato, tomato, hero, echo, banjo, embargo, veto, torpedo.
                
                Here are the preferred spellings of some plural nouns: buffaloes, dominoes, mosquitoes, volcanoes, tornadoes, ghettos, mangos, mottos, cargos, halos, mementos.</td>
            <td>
                Regular examples : 
                potato -> potatoes
                dingo -> dingoes
                piano -> pianos
                soprano -> sopranos
            </td>
        </tr>

        <p>
            The chart below explains some exceptions to the rules.
        </p>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Rule</th>
                    <th>Examples</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Words from foreign languages, including muscial terms</td>
                    <td>Simply add a s</td>
                    <td>Taco -> Tacos <br> kimono -> kimonos <br> aria -> arias</td>
                </tr>
                <tr>
                    <td>Words that are proper nouns</td>
                    <td>Simply add s</td>
                    <td>Eskimo -> Eskimos <br> Picasso -> Picassos</td>
                </tr>
                <tr>
                    <td>Words that are short forms of longer words</td>
                    <td>Simply add s</td>
                    <td>photo (photograph) -> photos <br> kilo (kilogram) -> kilos <br> memo (memorandum) -> memos </td>        
                </tr>

                <tr>
                    <td colspan="2">If a musical term or proper noun ends in s still add es</td>
                    <td>chorus -> choruses <br> Jones -> Joneses</td>
                </tr>

    </tbody>
</table>


{% endblock %} 