{% extends 'layout.html' %} 

{% block title %} EnglishHub {% endblock %}
    
    
{% block body %}

<h1>Lesson 1: What is a Noun</h1>

<p>
    Definition: A noun is a word that names a person, place, thing, or idea.
</p>

<p>
    Concrete nouns name people, places, or things that you can touch, see, hear, smell, or taste.
</p>

<table>
    <thead>
        <tr>
            <th>Person</th>
            <th>Place</th>
            <th>Thing</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>man</td>
            <td>river</td>
            <td>dog</td>
        </tr>
        <tr>
            <td>Mrs. Jones</td>
            <td>Paris</td>
            <td>Book</td>
        </tr>
        <tr>
            <td>doctor</td>
            <td>mountains</td>
            <td>sports car</td>
        </tr>
        <tr>
            <td>Maddie</td>
            <td>home</td>
            <td>Ferrari</td>
    </tbody>
</table>

<p>
    Abstract nouns name ideas, concepts, or emotions. These nouns are intangible, which means you cannot touch, see, hear, smell, or taste them using your five senses.
</p>

<table>
    <thead>
        <tr>
            <th>Idea</th>
            <th>Emotion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>love</td>
            <td>happiness</td>
        </tr>
        <tr>
            <td>intelligence</td>
            <td>anger</td>
        </tr>
        <tr>
            <td>justice</td>
            <td>excitement</td>
        </tr>
        <tr>
            <td>religion</td>
            <td>fear</td>
        </tr>
        <tr>
            <td>time</td>
            <td>surprise</td>
        </tr>
    </tbody>
</table>


<p>
    Hint: Remember, pronouns are not nouns.
</p>


{% endblock %} 