{% extends 'layout.html' %} 

{% block title %} English-Easy {% endblock %}
    
    
{% block body %}

<h1>Lesson 5 : Actions Verbs</h1>
<p>

Definition: When most people think about verbs, they think about the first type: action verbs, also called dynamic verbs. This kind of verb tells you what's happening or what someone is doing. Some action verbs describe physical actions, and they are easy to spot because you can observe them with at least one of your five senses. These are words such as jump, sing, and eat. On the other hand, some action verbs are more abstract, and they're easy to miss sometimes because you can't always observe them with your five senses. These are words such as think, learn, and decide. Take a look at the examples below to see how action verbs are used in a sentence.

</p>

<p>

Physical Actions:

The neighbor's cats meow loudly.
You hear the meow and you may see the cat open its mouth to meow.

Trucks speed down the highway.
You can see the truck speeding and probably hear the motor too.

Waves crash on the shore.
You can see and hear the wave and even feel it crash if you're standing close enough.


</p>
   
<p>
    Abstract Actions :

    Students learn new material every day.
    You can't actually look into someone's brain and see the learning process, but learning is still an action.

    I think my shoes are under the bed.
    You can't really see the thoughts going through the person's mind, but thinking is still an action. It's what you're doing.


</p>



{% endblock %} 