{% extends 'layout.html' %} 

{% block title %} English-Easy {% endblock %}
    
    
{% block body %}

<h1>Lesson 9 : Its vs. It's, 'Tis </p>

<p>



    "Its" is the possessive of the pronoun "it." Note that there is no apostrophe. Example: Its appearance was misleading.

    "It's" is a contraction meaning "it is." Example: It's a long way to Tipperary. "It's" can also be a contraction meaning "it has." Example: It's been a long day.
    
    "'Tis" is also a contraction meaning "it is." Example: 'Tis seldom used in modern English.
    
</p>

{% endblock %} 
