{% extends 'layout.html' %} 

{% block title %} EnglishHub {% endblock %}
    
    
{% block body %}

<h1>Lesson 6 : Linking Verbs</h1>
<p>

Definition: Unlike action verbs, linking verbs show a relationship between the main noun (also called the subject) and another word that describes that noun. The describing word can be an adjective or another noun. The most common linking verb is to be and its forms am, is, are, was, were, be, being, and been.


My cat is furry.
The verb is links the main noun, cat, with a describing word, furry. Furry is an example of an adjective.

My childhood dog was an Akita.
In this sentence, the verb was links the noun dog to another noun, Akita. The second noun tells us the breed of the dog.


</p>


Other common linking verbs include appear, become, feel, grow, look, remain, seem, smell, sound, stay, taste, and turn.

    If left too long, the milk may turn sour.
    I feel refreshed after that nap. 

<p>


</p>
   
<p>
    Hint:
    Sometimes you may not be sure whether a verb is a linking verb, but there is an easy way to tell: you can replace any linking verb with a form of to be. If the sentence makes sense and has almost the same meaning, you have a linking verb.

        The milk may turn be sour.
        I feel am refreshed.
        Laurie appears is tired. 
</p>



{% endblock %} 
