{% extends 'layout.html' %} 

{% block title %} English-Easy {% endblock %}
    
    
{% block body %}

<h1>Lesson 9 : Lie, Lying, Lay, Lain vs. Lie, Lying, Lied, Lied </h1>


<p>


"Lie" is an intransitive verb meaning "to rest" or "to be at rest." Its forms are: lie, lying, lay, lain. Examples: 1) Lie down. 2) Lying in the sun dries our skin. 3) The parcels lay on the table. 4) We have lain in the sun for thirty minutes.

"Lie" can also mean make an untrue statement. It is an intransitive verb whose forms are: 'lie' and lying (present), 'lied' (both past and participle.) Examples: 1) Please don't lie to me. 2) He was punished for lying. 3) They lied to their parents. 4) They have lied before.

</p>

{% endblock %} 
