{% extends 'layout.html' %}


{% block title %} MADLE | Singular and Plurial Nouns {% endblock %}


{% block body %} <!-- Page d'arrivée des utilisateurs-->

<h1>Singular and Plurial Nouns</h1>

<p>
    A noun names a person, place, thing, or idea.
</p>

<p>
    Usually, the first page of a grammar book tells you about nouns. Nouns give names of concrete or abstract things in our lives. As babies learn "mom," "dad," or "milk" as their first word, nouns should be the first topic when you study a foreign language.
</p>

<p>
    For the plural form of most nouns, add s.
    <ul>
        <li>
            bottle – bottles
        </li>
        <li>
            cup – cups
        </li>
        <li>
            pencil – pencils
        </li>
        <li>
            desk – desks
        </li>
        <li>
            sticker – stickers
        </li>
        <li>
            window – windows

        </li>

    </ul>
</p>

<p>
    For nouns that end in ch, x, s, or s sounds, add es.
    <ul>
        <li>
            box – boxes
        </li>
        <li>
            watch – watches
        </li>
        <li>
            moss – mosses
        </li>
        <li>
            bus – buses
        </li>
    </ul>
</p>


<p>

    For nouns ending in f or fe, change f to v and add es.
    <ul>
        <li>
            wolf – wolves
        </li>
        <li>
            wife – wives
        </li>
        <li>
            leaf – leaves
        </li>
        <li>
            life – lives
        </li>
    </ul>
</p>


<p>

    Some nouns have different plural forms.
    <ul>
        <li>
            child – children
        </li>
        <li>
            woman – women
        </li>
        <li>
            man – men
        </li>
        <li>
            mouse – mice
        </li>
        <li>
            goose – geese
        </li>
    </ul>
</p>



<p>

    Nouns ending in vowels like y or o do not have definite rules.
    <ul>
        <li>
            baby – babies
        </li>
        <li>
            toy – toys
        </li>
        <li>
            kidney – kidneys
        </li>
        <li>
            potato – potatoes
        </li>
        <li>
            memo – memos
        </li>
        <li>
            stereo – stereos
        </li>
    </ul>
</p>



<p>

    A few nouns have the same singular and plural forms.
    <ul>
        <li>
            sheep – sheep
        </li>
        <li>
            deer – deer
        </li>
        <li>
            series – series
        </li>
        <li>
            species – species
        </li>
    </ul>
</p>






   





{% endblock %}