{% extends 'layout.html' %}


{% block title %} MADLE | Jeu {% endblock %}


{% block body %}


<H1>{{message}} <a href="https://www.larousse.fr/dictionnaires/francais/{{mot}}" target="_blank">{{ mot }}</a></H1>


{% for i in range(nb) %} <!-- Boucle sur le nombre d'essai-->


    <div class="game_row" >
        <form action="/jeu" method="post">

            {% if victoire == False %}  <!-- Vérification de si le joueur n'a pas encore gagné la partie -->

                {% for j in range(taille) %} <!--Boucle sur la taille du mot-->

                    {% if playable == i %}   <!-- Si c'est la ligne jouable-->

                    <script>
                        document.querySelector("#Lettre0").focus();
                    </script>

                        {% if j == taille-1 %}                 
                            <textarea id="Lettre{{j}}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" oninput="document.querySelector('#Lettre{{j}}').value.length == 0 ? document.querySelector('#Lettre{{j}}').focus() : document.querySelector('#bouton').focus();"></textarea>

                        {% elif j == 0 %}

                            <textarea id="Lettre{{j}}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" oninput="document.querySelector('#Lettre{{j}}').value.length == 0 ? document.querySelector('#Lettre{{j}}').focus() : document.querySelector('#Lettre{{j+1}}').focus();"></textarea>

                        
                        {% else %}
    
                            <textarea id="Lettre{{j}}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" oninput="document.querySelector('#Lettre{{j}}').value.length == 0 ? document.querySelector('#Lettre{{j}}').focus() : document.querySelector('#Lettre{{j+1}}').focus();"></textarea>

  
                        {% endif %}



                    {% else %}

                        {% if essais[i] == "NULL" %} <!-- Si c'est une ligne qui n'est pas encore jouée on n'affiche pas de mot-->

                            <textarea name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled></textarea>

                        {% else %}

                            <textarea class ="{{ couleur[i][j] }}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled placeholder="{{essais[i][j]}}"></textarea>

                        {% endif %}


                    {% endif %}

                {% endfor %}

                {% if playable == i %} 


                    <span class="game_button"> <!-- Bouton pour soumettre une proposition, il est en bout de ligne-->
                        <button id="bouton" type="submit">Tenter</button>
                    </span> 

                {% endif %}

            {% else %} <!--Si le joueur a gagné--> 

                {% for j in range(taille) %}

                        {% if essais[i] == "NULL" %}

                            <textarea name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled></textarea>

                        {% else %}

                            <textarea class ="{{ couleur[i][j] }}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled placeholder="{{essais[i][j]}}"></textarea>

                        {% endif %}


                {% endfor %}

            {% endif %}

        </form>


    <br>

    </div>

{% endfor %}

{% if fini == True %} <!-- Si la partie est finie-->
    <form action="/jeu">
        <div class="play_button">
            <button type="submit">Rejouer</button>
        </div>
    </form>

{% endif %}

{% endblock %}