{% extends 'layout.html' %}


{% block title %} MADLE | Log in {% endblock %}

{% block body %}

<h1> Please log in to have access to your account </h1>

<div class="connection_form"> <!--Formulaire de connexion -->
    <form action="/connexion" method = "POST">
        <br>
        <div class="connection_input">
            <input autocomplete="off" autofocus type="text" name="pseudo" placeholder="Pseudonyme">
        </div>
        <br>
        <div class="connection_input">    
            <input autocomplete="off" autofocus type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="connection_button">
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
{% endblock %}