{% extends 'layout.html' %}


{% block title %} MADLE | Parameters {% endblock %}


{% block body %}

<h1>Parameters : </h1>

<div class="parameter_form"> <!--Formulaire de sélection des paramètres -->
    <form action="/parametres" method="POST">
        <br>
        <div class="parameter_input">
            <input autocomplete="off" autofocus type="text" name="length" placeholder="Length of the guess word (Between 1 and 14)">
        </div>
        <br>
        <div class="parameter_input">
            <input autocomplete="off" autofocus type="text" name="guess" placeholder="Maximum number of trials to guess a word (Between 1 and 14)">
        </div>
        <br>
        <div class="slideThree">
            {% if darkmode == "ON" %}
                <input type="checkbox" id="test1" name="darkmode" value="ON" checked>
            {% else %}
                <input type="checkbox" id="test1" name="darkmode">
            {% endif %}
            
            <label for="test1">
               <span class="ui">

               </span> 
               darkmode

            </label> 
        </div>
        <br>
        <div class="parameter_button">
            <button type="submit">Confirm</button>

        </div>

    </form>
</div>

{% endblock %}