{% extends 'layout.html' %}


{% block title %} MADLE | Profil {% endblock %}


{% block body %}

<h1>Bienvenue sur votre page de profil : {{PSEUDO}}</h1>

<br>

<div class="pdp">
    <img src="{{url}}" alt="Profile picture">

</div>
<br>



<form action="/deconnexion">
    <div class = "deco_button">
        <button type="submit" >Log out</button>
    </div>

</form>



{% if succes != []%}
    <div class = "succes_row">
        {% if succes[0][1] == 1 %}
        <div class="succes_column">
            <img style="width: 100%;" src="../static/succes1.png">
            You won a game !
        </div>
        {% else %}
        <div class="succes_column_lock">
            <img style="width: 100%;" src="../static/succes1.png" title="à dévérouiller">
        </div>
        {% endif %}
        {% if succes[0][2] == 1 %}
        <div class="succes_column">
            <img style="width: 100%;" src="../static/succes2.png">
            You won 100 games !
        </div>
        {% else %}
        <div class="succes_column_lock">
            <img style="width: 100%;" src="../static/succes2.png" title="à dévérouiller">
        </div>
        {% endif %}
        {% if succes[0][3] == 1 %}
        <div class="succes_column">
            <img style="width: 100%;" src="../static/succes3.png">
            You won 1000 games !
        </div>
        {% else %}
        <div class="succes_column_lock">
            <img style="width: 100%;" src="../static/succes3.png" title="à dévérouiller">
        </div>
        {% endif %}
        {% if succes[0][4] == 1 %}
        <div class="succes_column">
            <img style="width: 100%;" src="../static/succes4.png">
            You won a game in a single try ! You are a legend !
        </div>
        {% else %}
        <div class="succes_column_lock">
            <img style="width: 100%;" src="../static/succes4.png" title="à dévérouiller !">
        </div>
        {% endif %}        
    </div>
{% endif %}




<!-- Statistiques -->


<h2>Statistiques :</h2>
<div class="statistique">
    <table class="stat_table">
        <colgroup>
        <col>
        <col>
        </colgroup>

        <tr> <!-- Plusieurs lignes avec une cellule du nom de la stat et une cellule de stat -->
            
            <td>Numbers of won game :
                <br/>
                {{nombre_parties}}
            
                <br/>
            
                Numbers of victories :
                <br/>
                {{nombre_victoires}}
            
                <br/>
            
                Nombers of deafeats :
                <br>
                {{nombre_defaites}}

                <br/>

                Mean Length of words :
                <br>
                {{moyenne_longueur}}

                <br/>

                Mean of tries : 
                <br>
                {{moyenne_nombre_coups}}
            </td>
            <td>
                <div class="img_stats">
                    <img src={{chart}}>
                    <br>
                    Percentage of victories
                </div>

            </td>
        </tr>
     </table>
</div>





<h2>Historic of your games :</h2>

<div class="historique">

    <table class="table"> <!--Tableau de l'historique des parties-->
        <thead>
            <tr>
                <th scope="col">N° Partie</th>
                <th scope="col">Word to guess</th>
                <th scope="col">Nomber of possible tries</th>
                <th scope="col">Tries :</th>
            </tr>
        </thead>
        <tbody>
        {% for k in range(N) %}    <!--Pour chaque partie jouée-->
            {% if parties[k][3] == 1 %} <!-- Vérification de la victoire pour afficher une couleur différente-->   
                <tr class="victoire"> 
                    <td>
                        <a href="/replay/{{parties[k][0]}}"> {{parties[k][0]}} </a> <!--Affichage de l'id de la partie-->
                    </td>
                    <td>
                        {{parties[k][4]}} <!--Affichage du mot qui était à deviner-->
                    </td>
                    <td> 
                        {{parametre[k][1]}} <!--Affichage du nombre d'essai possible-->
                    </td>
                    <td>
                        {% for t in coups[k]  %} <!--Affichage des coups joués sous forme d'une liste-->
                            <li>
                                {{t}}
                            </li>
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr class="defaite">
                    <td>
                        <a href="/replay/{{parties[k][0]}}"> {{parties[k][0]}} </a>
                    <td>
                        {{parties[k][4]}}
                    </td>
                    <td> 
                        {{parametre[k][1]}}
                    </td>
                    <td>
                        {% for t in coups[k]  %}
                            <li>
                                {{t}}
                            </li>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}