{% extends 'layout.html' %}


{% block title %} MADLE | Replay {% endblock %}


{% block body %} <!-- Même page que le jeu à la différence qu'aucune ligne n'est jouable-->


<H1>{{message}} <a href="https://www.larousse.fr/dictionnaires/francais/{{mot}}" target="_blank">{{ mot }}</a></H1>

{% for i in range(nb) %}


    <div class="game_row" >
        <form action="/jeu" method="post">

            {% if victoire == False %}

                {% for j in range(taille) %}

                    {% if essais[i] == "NULL" %}

                        <textarea name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled></textarea>

                    {% else %}

                        <textarea class ="{{ couleur[i][j] }}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled placeholder="{{essais[i][j]}}"></textarea>

                    {% endif %}


                {% endfor %}

            {% else %}

                {% for j in range(taille) %}

                        {% if essais[i] == "NULL" %}

                            <textarea name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled></textarea>

                        {% else %}

                            <textarea class ="{{ couleur[i][j] }}" name="Lettre{{j}}" cols="1" rows="1" maxlength="1" disabled placeholder="{{essais[i][j]}}"></textarea>

                        {% endif %}


                {% endfor %}

            {% endif %}

        </form>


    <br>

    </div>

{% endfor %}

{% endblock %}